@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div id="readme" class="readme boxed-group clearfix announce instapaper_body md">
        <article class="markdown-body entry-content" itemprop="text">
            <h1><a id="user-content-veracity-authentication-demonstration" class="anchor" aria-hidden="true" href="#veracity-authentication-demonstration"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Veracity Authentication Demonstration(ASP.NET Core 2.1 MVC)</h1>
            <p><strong>Veracity is a constantly evolving platform and the authentication flow may change in the future. The code here will be updated to reflect this.</strong></p>
            <h2><a id="user-content-references" class="anchor" aria-hidden="true" href="#references"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>References</h2>
            <ul>
                <li><a href="https://developer.veracity.com/doc/service-api" rel="nofollow">Veracity Service API</a></li>
                <li><a href="https://developer.veracity.com/doc/data-fabric-api" rel="nofollow">Veracity Data Fabric API</a></li>
                <li><a href="https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp">Azure B2C OpenID Connect Example</a></li>
                <li><a href="https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-openid-connect-code" rel="nofollow">Understand the OpenID Connect control flow in Azure AD</a></li>
                <li><a href="https://dotnet.github.io/" rel="nofollow">.NET Core</a></li>
            </ul>
        </article>
    </div>
</div>