
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signed Out</title>
</head>
<body>
    <p class="text-success">You have successfully signed out.</p>
</body>
</html>
